	body{
		background: rgb(238,238,238);
		background-repeat: no-repeat;
		background-attachment: fixed;
		user-select: none;
		-webkit-user-select: none;
		word-break: break-all;
	}	
	body,p,span,div,li,ul,hr{
		padding: 0;
		margin: 0;
		list-style: none;
	}
	table{
		border: none;
		border-spacing: 0;
		margin: 0;
		padding: 0;		
	}
	input{
		background-color: transparent;
		border: 1px solid rgba(255,255,255,0); 
		box-shadow: none;
		color: rgb(236,97,100);
		outline: none;
		font-size: 1em;
		height: 1em;
	}
	input::-webkit-input-placeholder{ 
    	color: rgb(252,183,199);
	}
	select{
		background: transparent;
		border: 1px solid rgba(255,255,255,0);
		outline: none;
		font-size: 1em;
		width: 12em;
		color: rgb(236,97,100);
		height: 1.5em;
	}
	.placeholder{
		opacity: 0;
	}
	.cannotSelect{
		color: gray;
	}

/*loading页样式*/
	#loading{
		position: fixed;
		width: 100%;
		height: 100%;
		background-color: rgba(255,255,255,1);
		top: 0;
		text-align: center;
		z-index: 1000;
	}
	#loading .spinner{
		margin-top: 15em;
	}
	.spinner {
	  	margin: 100px auto 0;
	  	width: 150px;
	  	text-align: center;
	}
	 
	.spinner > div {
	  	width: 30px;
	  	height: 30px;
	  	background-color: rgb(194,63,92);
	 	border-radius: 100%;
	  	display: inline-block;
	  	-webkit-animation: bouncedelay 1s infinite ease-in-out;
	  	animation: bouncedelay 1s infinite ease-in-out;
	  	-webkit-animation-fill-mode: both;
	  	animation-fill-mode: both;
	}
	 
	.spinner .bounce1 {
	  	-webkit-animation-delay: -0.32s;
	  	animation-delay: -0.32s;
	}
	 
	.spinner .bounce2 {
	  	-webkit-animation-delay: -0.16s;
	  	animation-delay: -0.16s;
	}
	 
	@-webkit-keyframes bouncedelay {
	  	0%, 80%, 100% { -webkit-transform: scale(0.0) }
	  	40% { -webkit-transform: scale(1.0) }
	}
	 
	@keyframes bouncedelay {
	  	0%, 80%, 100% { 
	    	transform: scale(0.0);
	    	-webkit-transform: scale(0.0);
	  	} 40% { 
	    	transform: scale(1.0);
	    	-webkit-transform: scale(1.0);
	  	}
	}
	
/*home页样式*/
	#home{
		z-index: 1;		
	}
	#homeHeader{
		width: 100%;
		background: -webkit-linear-gradient(top right, rgba(169,64,90,1),rgba(200,69,98,1),rgba(233,79,100,1));
		text-align: center;
	}
	#wx_image{
		width: 20%;
		background-color: gray;
		border-radius: 0.5rem;
		overflow: hidden;
		margin-top: 1.5rem;
	}
	#wx_nickname{
		color: rgb(255,255,255);
		margin-top: 0.3em;
	}
	
	#homeTabs{
		width: 100%;
		background: rgb(255,255,255);	
	}
	#homeTabsFixed{
		width: 100%;
		position: fixed;
		z-index: 999;
		display: none;
		top: 0;
		opacity: 0;
		background: rgb(194,63,92);		
	}
	.tabContainer{
		padding: 0.5em 0 0 0;
	}
	.homeTab{
		float: left;
		width: 20%;
		text-align: center;
		color: rgb(249,186,197);
		font-size: 1rem;
	}
	.homeTab .icon{
		font-size: 1.5em;
		font-weight: bolder; 
	}
	.icon-iconfont-waitPay{
		position: relative;
	}
	.icon-iconfont-waitPay .catchAttention{
		opacity: 0;
		position: absolute;
		color: red;
		font-size: 0.4em;
		top: -0.4em;
		left: 1.8em;
		display: inline-block;
		width: 1em;
		height: 1em;
		border: 2px solid red;
		border-radius: 50%;
		text-align: center;
	}
	.active{
		color: rgb(253,105,114);
	}
	.active .tabStatus{
		display: inline-block;
		height: 1.5em;
		border-bottom: 2px solid rgb(253,105,114);		
	}
	.tabFooter{
		width: 93%;
		margin-left: 3.5%;
		border: none;
		border-top: 1px solid rgb(251,183,201);
		margin-top: 2.5em;
	}
	#homeContent .noOrderContent{
		width: 100%;
		text-align: center;
		background-color: rgb(238,238,238);
		padding: 8em 0;
		opacity: 0;
	}
	#homeContent .noOrderContent .orderIcon{
		width: 14%;
	}
	#homeContent .noOrderContent .orderWord{
		color: rgb(249,186,197);
		font-size: 1.2rem;
	}

/*userInfo页样式*/
	#userInfo{
		z-index: 2;
		display: none;
		opacity: 0;
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background: -webkit-linear-gradient(top right, rgba(157,58,86,1), rgba(189,64,94,1),rgba(218,73,102,1),rgba(235,85,105,1),rgba(247,108,112,1),rgba(251,143,133,1),rgba(253,197,182,1),rgba(253,214,202,1));			
	}
	#userInfo .userInfoContainer{
		text-align: center;
		background-color: rgb(255,255,255);
		margin-top: 1em;
	}
	#userInfo .userInfoContainer li{
		width: 93%;
		margin: 0 auto;
		color: rgb(238,88,92);
		border-bottom: 1px solid rgb(255,189,186);
	}
	#userInfo .userInfoContainer li:nth-last-child(1){
		border: none;
	}
	#userInfo .userInfoContainer .user_imageContainer{
		height: 4.64em;
	}
	#userInfo .user_image{
		width: 3.39em;
		height: 3.39em;
		border-radius: 0.3em;
		overflow: hidden;
	}
	#userInfo .user_nicknameContainer{
		height: 2.8em;
	}
	#userInfo .user_mobileContainer{
		height: 2.8em;
	}
	#userInfo .user_emailContainer{
		height: 2.8em;
	}
	#userInfo .user_addressesContainer{
		height: 2.8em;
	}
	#userInfo .userInfoContainer li table{
		width: 100%;
		height: 100%;
	}
	#userInfo .userInfoContainer li table tbody tr td:nth-child(1){
		text-align: left;
		color: rgb(255,189,186);
	}
	#userInfo .userInfoContainer li table tbody tr td:nth-child(2){
		text-align: right;
	}
	#userInfo .userInfoContainer li span{
		vertical-align: middle;
	}
	#userInfo .nextMark{
		padding-right: 0.3em;
		font-size: 0.8em;
		font-weight: bolder;
	}

/*editUserInfo页面样式*/
	#editUserInfo{
		z-index: 3;
		display: none;
		opacity: 0;
		width: 100%;
	}
	#editUserInfo .editUserInfoContainer{
		position: absolute;
		width: 100%;
		height: 100%;
		background: -webkit-linear-gradient(top right, rgba(157,58,86,1), rgba(189,64,94,1),rgba(218,73,102,1),rgba(235,85,105,1),rgba(247,108,112,1),rgba(251,143,133,1),rgba(253,197,182,1),rgba(253,214,202,1));
		top: 0;
		display: none;
	}
	#editUserInfo .editUserInfoContainer table{
		width: 100%;
		border: none;
		border-spacing: 0;
		margin-top: 3em;
		background-color: rgba(255,255,255,0.9);
	}
	#editUserInfo .editUserInfoContainer .clear{
		margin: 0 20%;
	}
	#editUserInfo .editUserInfoContainer table tbody{
		width: 100%;
	} 
	#editUserInfo .editUserInfoContainer table tbody tr{
		width: 100%;
		height: 2.6em;
		color: rgb(238,88,92);
		background-color: rgba(255,255,255,0.9);
	}
	#user_mobile table tbody tr td:nth-child(1){
		width: 26%;
		text-align: center;
	}
	#user_mobile table tbody tr td:nth-child(2){
		width: 50%;
		text-align: left;
	}
	#user_mobile input{
		width: 100%;
	}
	#user_mobile table tbody tr td:nth-child(3){
		width: 24%;
		text-align: center;
		line-height: 1ex;
	}
	#user_email table tbody tr td:nth-child(1){
		width: 21%;
		text-align: center;
	}
	#user_email table tbody tr td:nth-child(2){
		width: 60%;
		text-align: left;
	}
	#user_email input{
		width: 100%;
	}
	#user_email table tbody tr td:nth-child(3){
		width: 19%;
		text-align: center;
		line-height: 1ex;
	}
	#getCaptchas{
		display: inline-block;
		background-color: rgba(238,88,92,0.8);
		color: rgb(255,255,255);
		font-size: 0.8em;
		padding: 0.5em 0.3em;
		width: 5.5em;
	}
	#countDown{
		display: none;
		background-color: rgba(238,88,92,0.8);
		color: rgb(255,255,255);
		font-size: 0.8em;
		padding: 0.5em 0.3em;
		width: 5.5em;
	}	
	#editUserInfo .instruction{
		margin-top: 1.5em; 
		text-align: center;
		color: rgb(255,255,255);
		font-size: 0.8em;
	}
	#editUserInfo .saveEdit{
		width: 93%;
		height: 2em;
		margin: 2em auto;
		background-color: rgb(255,255,255);
		color: rgb(238,88,92);
		text-align: center;
		display: table;
	}
	#editUserInfo .saveEdit p{
		display: table-cell;
		vertical-align: middle;
	}
/*editUserInfo页面下设置默认地址页样式*/
	#user_addresses{
		display: none;
		width: 100%;
	}
	#user_addresses .user_Address,#receiving_addresses .user_Address{
		background: rgb(255,255,255);
		color: rgb(238,88,92);
		transition: height 0.2s;
		-webkit-transition: height 0.2s;
		border-bottom: 1px solid rgb(238,238,238);
		width: 100%;
		height: 3.5em;
		padding: 0.75em 0;
	}
	#receiving_addresses p:
	#user_addresses .user_Address:nth-last-child(1),#receiving_addresses .user_Address:nth-last-child(1){
		margin-bottom: 6em;
	}
	#user_addresses .user_Address table{
		width: 100%;
		padding: 0 0 0 1em;
		height: 3em;
	}
	#receiving_addresses .user_Address table{
		width: 100%;
		padding: 0 1em 0 1em;
		height: 3em;
	}
	#user_addresses .user_Address tr:nth-child(1) td:nth-child(1),#receiving_addresses .user_Address tr:nth-child(1) td:nth-child(1){
		text-align: left;
		width: 38%;
	}
	#user_addresses .user_Address tr:nth-child(1) td:nth-child(1) .default,#receiving_addresses .user_Address tr:nth-child(1) td:nth-child(1) .default{
		font-weight: 600;
	}	
	#user_addresses .user_Address tr:nth-child(1) td:nth-child(2){
		text-align: right;
		width: 44%;
	}
	#user_addresses .deleteOut{
		text-align: center;
		width: 14.7%;
	}
	#user_addresses .deleteOut .icon-bin{
		font-size: 1.2em;
		padding: 1em 0.5em;
	}
	#user_addresses .deleteOut .deleteAddress{
		display: none;
		opacity: 0;
		font-weight: bolder;
		padding: 1em 0;
	}
	#user_addresses .user_Address tr:nth-child(2){
		color: rgb(255,140,148);
	}
	#user_addresses .editAddressesFooter{
		position: fixed;
		z-index: 4;
		bottom: 0;
		font-size: 1rem;
		width: 100%;
		height: 4em;
		margin: 0 auto;
	}
	#user_addresses .addNewAddress{
		height: 2.5em;
		width: 73%;
		background-color: rgb(194,63,92);
		color: rgb(255,255,255);
		margin: 0.5em 13.5%;
		text-align: center;
		display: table;
	}
	#user_addresses .addNewAddress p{
		display: table-cell;
		vertical-align: middle;
	}

/*支付页下选择地址页样式*/
	#receiving_addresses{
		display: none;
		width: 100%;
		opacity: 0;
		z-index: 3;
	}
	#receiving_addresses .user_Address tr:nth-child(1) td:nth-child(2){
		text-align: right;
	}	
	#receiving_addresses .user_Address tr:nth-child(2){
		color: rgb(255,140,148);
	}
	#receiving_addresses .editAddressesFooter{
		position: fixed;
		z-index: 4;
		bottom: 0;
		font-size: 1rem;
		width: 100%;
		height: 4em;
		margin: 0 auto;
	}
	#receiving_addresses .addNewAddress{
		height: 2.5em;
		width: 73%;
		background-color: rgb(194,63,92);
		color: rgb(255,255,255);
		margin: 0.5em 13.5%;
		text-align: center;
		display: table;
	}
	#receiving_addresses .addNewAddress p{
		display: table-cell;
		vertical-align: middle;
	}
	#receiving_addresses .addressDirect{
		width: 100%;
		text-align: center;
		background-color: rgb(194,63,92);
		color: rgb(255,255,255);
		padding: 0.5em 0;
	}
/*编辑地址页*/
	#editUserAddress{
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		z-index: 4;
		display: none;
		opacity: 0;
		background: -webkit-linear-gradient(top right, rgba(157,58,86,1), rgba(189,64,94,1),rgba(218,73,102,1),rgba(235,85,105,1),rgba(247,108,112,1),rgba(251,143,133,1),rgba(253,197,182,1),rgba(253,214,202,1));
	}
	#editUserAddress .addressDetail{
		background: rgb(255,255,255);
		width: 100%;
		margin-top: 1em;
	}
	#editUserAddress .addressDetail td{
		height: 3em;
		border-bottom: 1px rgb(252,193,192) solid;
	}
	#editUserAddress .addressDetail tr td:nth-child(1){
		width: 30%;
		text-align: left;
		padding: 0 5%;
		color: rgb(252,193,192);
	}
	#editUserAddress .addressDetail tr td:nth-child(2){
		width: 70%;
		text-align: left;
	}
	#editUserAddress .addressDetail input{
		color: rgb(236,97,100);
		font-size: 1em;
		width: 92%;
		padding-right: 0;		
	}
	#editUserAddress .setAddressContainer{
		color: rgb(255,255,255);
		width: 100%;
		margin-top: 1.5em;
	}
	#editUserAddress .setDefaultAddress{
		text-align: left;
		padding: 0 5%;		
		height: 2.5em;
		width: 100%;
	}
	#setDefaultAddress{
		color: rgb(236,97,100);
		background: -webkit-radial-gradient(rgb(255,255,255),rgb(236,97,100));
		border-radius: 0.65em;
		font-size: 1.3em;
		font-weight: bolder;
		position: relative;
		top: 0.15em;
	}
	#editUserAddress .setDefaultAddress span:nth-child(2){
		display: inline-block;
		margin-left: 0.5em;
	}
	#saveAddress:active{
		background-color: rgb(236,97,100);
	}
	#editUserAddress .saveAddressOuter{
		position: absolute;
		bottom: 0;
		font-size: 1rem;
		width: 100%;
		height: 4em;
		margin: 0 auto;
	}
	#saveAddress{
		height: 2.5em;
		width: 73%;
		background-color: rgb(194,63,92);
		color: rgb(255,255,255);
		margin: 0.5em 13.5%;
		text-align: center;
		display: table;
		transition: background 0.5s;
		-webkit-transition: background 0.5s; /* Safari and Chrome */
	}
	#editUserAddress #saveAddress p{
		display: table-cell;
		vertical-align: middle;
	}

/*home页下待付款页样式*/
	#orderContent，#waitOfferContent{
		display: none;
		opacity: 0;
		background-color: rgb(238,238,238);
		font-size: 1rem;		
	}
	.orderContainer{
		background-color: rgb(238,238,238);
		font-size: 1rem;
	}
	.order{
		height: 11.2em;
		width: 100%;
		margin-bottom: 1em;
		color: rgb(253,105,114);
	}
	.order table{
		width: 100%;
	}
	.orderHeader{
		height: 2.6em;
		width: 100%;
		background-color: rgb(255,255,255);
	}
	.orderHeader td:nth-child(1){
		width: 30%;
		text-align: left;
		padding-left: 1em;
	}
	.orderHeader td:nth-child(1) img{
		height: 1.4em;
		position: relative;
		top: 0.2em;
	}
	@media all and (max-width: 320px) {
		.orderHeader td:nth-child(1){
			width: 31%;
			text-align: left;
			padding-left: 0.5em;
		}
		.orderHeader td:nth-child(1) img{
			height: 1.2em;
			position: relative;
			top: 0.2em;
		}		
	}	
	.orderHeader td:nth-child(2){
		width: 70%;
		text-align: right;
		padding-right: 1em;
	}
	.orderBody{
		width: 100%;
		height: 6em;
		background-color: rgb(245,245,245);
	}
	.orderBody .imgContainer{
		width: 30%;
		text-align: center;
	}
	.orderBody .imgContainer img{
		width: 5em;
		height: 5em;
	}
	.orderBody .orderTitleContainer{
		width: 70%;
		text-align: left;
	}
	.orderBody .orderTitleOuter{
		padding: 0.4em 1em 0.5em 0;
	}
	.orderBody .orderPriceOuter{
		display: inline-block;
		float: right;
	}
	.orderBody .orderTitleOuter p:nth-child(1),.orderBody .requirementTitleContainer p:nth-child(1){
		height: 4em;
	}
	.orderBody .orderTitleOuter p:nth-child(2),.orderBody .requirementTitleContainer p:nth-child(2){
		height: 1.1em;
	}
	.orderFooter{
		width: 100%;
		height: 2.6em;
		background-color: rgb(255,255,255);
	}
	.orderFooter span{
		font-size: 0.9rem;
		display: inline-block;
		width: 4.8em;
		padding: 0.3em 0;
		margin-right: 0.5em;
		text-align: center;
		color: rgb(249,186,197);
		border: 1px solid rgb(249,186,197);
		float: right;
	}
	.orderFooter span:nth-child(1){
		margin-right: 0.7em;
	}
	@media all and (max-width: 320px){
		.orderFooter span{
			font-size: 0.9rem;
			display: inline-block;
			width: 4.8em;
			padding: 0.3em 0;
			margin-right: 0.2em;
			text-align: center;
			color: rgb(249,186,197);
			border: 1px solid rgb(249,186,197);
			float: right;
		}
		.orderFooter span:nth-child(1){
			margin-right: 0.5em;
		}
	}
	.orderFooter span:nth-child(1){
		color: rgb(253,105,114);
		border-color: rgb(253,105,114);
	}
	.orderFooter span a,.orderFooter span a:hover,.orderFooter span a:active,.orderFooter span a:visited{
		color: rgb(249,186,197);
		text-decoration: none;
	}

/*弹窗页样式*/
    .cancleOrder,.callOp,.checkRefund,.toReceive,.sureToPay,.payOrder{
    	transition: background 0.2s;
    	-webkit-transition: background 0.2s;
    }
    .cancleOrder:active,.callOp:active,.checkRefund:active,.toReceive:active,.sureToPay:active,.payOrder:active{
    	background: rgb(194,63,92); 
    }
/*取消订单页样式*/
	#cancleOrder{
		position: fixed;
		top: 0;
		display: none;
		opacity: 0;
		width: 100%;
		height: 100%;
		z-index: 999;
		color: rgb(253,105,114);
	}
	#cancleOrder table{
		background: rgb(255,255,255);
		width: 85%;
		height: 12.5em;
		margin: 10em auto;
		padding: 0.8em 0;
	}
	#cancleOrder table p{
		width: 90%;
		margin: 0 auto;
		text-align: center;
	}
	#cancleOrder .keepItOn{
		display: inline-block;
		width: 5em;
		text-align: center;
		padding: 0.5em 0;
		border: 1px solid rgb(253,105,114);
		margin: 0 0.8em;
	}
	#cancleOrder .sureToCancle{
		display: inline-block;
		width: 5em;
		text-align: center;
		padding: 0.5em 0;
		margin: 0 0.8em;
		color: rgb(249,186,197);
		border: 1px solid rgb(249,186,197);
	}
	#cancleOrder tr:nth-child(2) span:active{
		background: rgb(194,63,92);
	}	

/*联系客服页样式*/
	#callOp{
		position: fixed;
		top: 0;
		display: none;
		opacity: 0;
		width: 100%;
		height: 100%;
		z-index: 999;
		color: rgb(253,105,114);
	}
	#callOp table{
		background: rgb(255,255,255);
		width: 85%;
		height: 12.5em;
		margin: 10em auto;
		padding: 0.8em 0;
	}
	#callOp table p{
		width: 90%;
		margin: 0 auto;
		text-align: center;
	}
	#callOp tr:nth-child(2) span{
		display: inline-block;
		width: 5em;
		text-align: center;
		padding: 0.5em 0;
		border: 1px solid rgb(253,105,114);
		margin: 0 0.8em;
	}
	#callOp tr:nth-child(2) .keepItOn{
		color: rgb(249,186,197);
		border: 1px solid rgb(249,186,197);
	}	
	#callOp tr:nth-child(2) span:active{
		background: rgb(194,63,92);
	}
	#callOp tr:nth-child(1) p:nth-last-child(1){
		margin-top: 0.5em;
	}
	#callOp tr:nth-child(2) span a{
		text-decoration: none;
		color: rgb(253,105,114);
	}
	#callOp tr:nth-child(2) span a:hover,#callOp tr:nth-child(2) span a:active,#callOp tr:nth-child(2) span a:link{
		text-decoration: none;
		color: rgb(253,105,114);
		background: none;
	}

/*查看退款页样式*/
	#checkRefund{
		position: fixed;
		top: 0;
		display: none;
		opacity: 0;
		width: 100%;
		height: 100%;
		z-index: 999;
		color: rgb(253,105,114);
	}
	#checkRefund table{
		background: rgb(255,255,255);
		width: 85%;
		height: 12.5em;
		margin: 10em auto;
		padding: 0.8em 0;
	}
	#checkRefund tr:first-child{
		max-height: 15em;
		overflow-y: auto;
	}
	#checkRefund table p{
		width: 90%;
		margin: 0 auto;
		text-align: center;
	}
	#checkRefund .refund_detail{
		text-align: left;
	}
	#checkRefund tr:nth-child(2) span{
		display: inline-block;
		width: 5em;
		text-align: center;
		padding: 0.5em 0;
		border: 1px solid rgb(253,105,114);
		margin: 0 0.8em;
	}
	#checkRefund tr:nth-child(2) span:active{
		background: rgb(194,63,92);
	}

/*确认收货页样式*/
	#toReceive{
		position: fixed;
		top: 0;
		display: none;
		opacity: 0;
		width: 100%;
		height: 100%;
		z-index: 999;
		color: rgb(253,105,114);
	}
	#toReceive table{
		background: rgb(255,255,255);
		width: 85%;
		height: 12.5em;
		margin: 10em auto;
		padding: 0.8em 0;
	}
	#toReceive table p{
		width: 90%;
		margin: 0 auto;
		text-align: center;
	}
	#toReceive .sureToReceive{
		display: inline-block;
		width: 5em;
		text-align: center;
		padding: 0.5em 0;
		border: 1px solid rgb(253,105,114);
		margin: 0 0.8em;
	}
	#toReceive .keepItOn{
		display: inline-block;
		width: 5em;
		text-align: center;
		padding: 0.5em 0;
		margin: 0 0.8em;
		color: rgb(249,186,197);
		border: 1px solid rgb(249,186,197);
	}
	#toReceive tr:nth-child(2) span:active{
		background: rgb(194,63,92);
	}

	#exTime{
		position: fixed;
		top: 0;
		display: none;
		opacity: 0;
		width: 100%;
		height: 100%;
		z-index: 999;
		color: rgb(253,105,114);
	}
	#exTime table{
		background: rgb(255,255,255);
		width: 85%;
		height: 12.5em;
		margin: 10em auto;
		padding: 0.8em 0;
	}
	#exTime table p{
		width: 80%;
		margin: 0 auto;
		text-align: left;
	}
	#exTime tr:nth-child(2) p{
		text-align: center;
	}
	#exTime tr:nth-child(2) span{
		display: inline-block;
		width: 5em;
		text-align: center;
		padding: 0.5em 0;
		border: 1px solid rgb(253,105,114);
		margin: 0 0.8em;
	}
	#exTime tr:nth-child(2) span:active{
		background: rgb(194,63,92);
	}

/*sureToPay页样式*/
	#sureToPay{
		display:none; 
		opacity:0; 
		position:absolute; 
		z-index: 2; 
		top:0; 
		width: 100%; 
		height: 100%; 
		background-color: rgb(238,238,238);
		color: rgb(253, 105, 114);
	}
	#sureToPayHeader{
		width: 100%;
		height: 8.2em;
		background: -webkit-linear-gradient(top right, rgba(173,64,91,1),rgba(194,69,98,1),rgba(224,71,97,1));
		color: rgb(255, 255, 255);
	}
	#sureToPayHeader table{
		width: 100%;
		height: 100%;
	}
	#sureToPayHeader td:nth-child(1){
		width: 90%;
		padding: 0 1em;
	}
	#sureToPayHeader td:nth-child(2){
		font-size: 0.8em;
	}
	#sureToPayContent .orderFooter{    /*orderHeader orderContent等在home页下待付款样式里渲染*/
		display: none;
	}
	#sureToPayFooter{
		position: fixed;
		z-index: 2;
		bottom: 0;
		font-size: 1rem;
		width: 100%;
		height: 4em;
		margin: 0 auto;
	}
	#sureToPayFooter .sureToPay{
		height: 2.5em;
		width: 73%;
		background-color: rgb(194,63,92);
		color: rgb(255,255,255);
		margin: 0.5em 13.5%;
		text-align: center;
		display: table;
	}
	#sureToPayFooter .sureToPay p{
		display: table-cell;
		vertical-align: middle;
	}	

/*itemList页样式		*/
	#itemList{
		postion: absolute;
		top: 0;
		z-index: 2;
		width: 100%;
		display: none;
		opacity: 0;
		background-color: rgb(238,238,238);
		color: rgb(253,105,114); 
	}
	#itemList .forWaitPay{
		display: none;
	}
	#itemListHeader{
		width: 100%;
		height: 8.2em;
		background: -webkit-linear-gradient(top right, rgba(173,64,91,1),rgba(194,69,98,1),rgba(224,71,97,1));
	}
	#itemListHeader table{
		width: 100%;
		height: 100%;
	}
	#itemListHeader td:nth-child(1){
		width: 30%;
		text-align: center;
	}
	#itemListHeader .buyerImage{
		width: 5.4em;
		height: 5.4em;
		border-radius: 0.5em;
		overflow: hidden;
	}
	#itemListHeader td:nth-child(2){
		width: 70%;
		text-align: left;
		color: rgb(255,255,255);
		font-weight: 600;
	}
	#itemStatusOuter{
		width: 100%;
		height: 3em;
		margin-top: 0.8em;
		background-color: rgb(255,255,255); 
	}
	#itemStatusOuter table{
		width: 100%;
		height: 100%;
	}
	#itemStatusOuter tr{
		width: 100%;
		height: 100%;
	}
	#itemStatusOuter td{
		text-align: right;
		padding-right: 1em;
	}
	#itemListContent,#sureToPayContent{
		width: 100%;
	}
	#itemListContent .itemContainer,#sureToPayContent .itemContainer{
		width: 100%;
		height: 6.6em;
		background-color: rgb(245,245,245);
		margin-bottom: 0.8em;	
	}
	#itemListContent .itemContainer table,#sureToPayContent .itemContainer table,tbody{
		width: 100%;
	}
	#itemListContent .itemContainer tr,#sureToPayContent .itemContainer{
		height: 6.6em;
		width: 100%;
	}
	#itemListContent .itemImageOuter,#sureToPayContent .itemImageOuter{
		width: 30%;
		text-align: center;
	}
	#itemListContent .itemImage,#sureToPayContent .itemImage{
		width: 5em;
		height: 5em;
	}
	#itemListContent .itemTitleOuter,#sureToPayContent .itemTitleOuter{
		width: 70%;
		padding-right: 1em;
	}
	#itemListContent .itemTitle,#sureToPayContent .itemTitle{
		height: 3.9em;
		padding-top: 0.8em		
	}
	#itemListContent .itemNumberOuter,#sureToPayContent .itemNumberOuter{
		height: 1.1em;
		padding-bottom: 0.8em;
		text-align: right;	
	}
	#itemListContent li:nth-last-child(1),#sureToPayContent li:nth-last-child(1){
		margin-bottom: 0;
	}
	#orderOverview,#payOrderOverview{
		width: 100%;
		height: 3em;
		margin-bottom: 0.8em;
		background-color: rgb(255,255,255);
	}
	#payOrderPlaceholder{
		width: 100%;
		height: 5em;
	}
	#orderOverview table,#payOrderOverview table{
		width: 100%;
		height: 100%;
	}
	#orderOverview .itemTotalNumberOuter,#payOrderOverview .itemTotalNumberOuter{
		width: 30%;
		text-align: left;
		padding-left: 1em;
	}
	#orderOverview .orderPriceOuter,#payOrderOverview .orderPriceOuter{
		width: 70%;
		text-align: right;
		padding-right: 1em;
	}
	#logistics{
		width: 100%;
		margin-bottom: 0.8em;
		color: rgb(255,160,160);
	}
	#logistics div{
		background-color: rgb(255,255,255);
		padding: 1em;
		margin-bottom: 0.8em;
	}
	#itemListfooter{
		width: 100%;
		background-color: rgb(255,255,255);
		color: rgb(255,160,160);
		margin-bottom: 5em;
	}
	#itemListfooter div{
		padding: 1em;
	}
	#itemListfooter .exTime a{
		color: rgb(253,105,114);
		text-decoration: underline; 
	}
	#itemListPlaceholder{
		width: 100%;
		height: 3em;
		background: rgba(255,255,255,0);
	}
	#orderButtonFixed{
		position: fixed;
		bottom: 0;
		width: 100%;
	}
	#orderButtonFixed li{
		height: 2.6em;
		margin-bottom: 0.5em;
	}
	#orderButtonFixed .orderHeader,#orderButtonFixed .orderBody{
		display: none;
	}

/*itemDetail页详情*/
	#itemDetail{
		position: absolute;
		z-index: 3;
		width: 100%;
		display: none;
		opacity: 0;
		color: rgb(253,105,114);
	}
	#itemDetail p{
		padding-right: 0.5em;
	}
	#itemImageContainer{
		padding: 0.8em;
		background-color: rgb(255,255,255);
	}
	#itemImageContainer div{
		width: 33.3%;
		float: left;
		padding-bottom: 0.6em;
	}
	#itemImageContainer div:nth-child(3n+1){
		text-align: left;
	}
	#itemImageContainer div:nth-child(3n+2){
		text-align: center;
	}
	#itemImageContainer div:nth-child(3n){
		text-align: right;
	}	
	#itemImageContainer img{
		width: 6.7em;
		height: 6.7em;
	}
	@media all and (max-width: 320px){
		#itemImageContainer img{
			width: 5.7em;
			height: 5.7em;
		}	
	}
	#itemTitleContainer{
		padding: 0 0 0.8em 0.8em;
		background-color: rgb(255,255,255);
	}
	#itemTitleContainer p{
		clear: both;
	}
	#itemDetail .itemPlaceholder{
		background-color: rgb(238,238,238);
		width: 100%;
		height: 1.5em;
	}
	#itemDescriptionContainer{
		padding: 0.8em 0 0.8em 0.8em;
		background-color: rgb(255,255,255);
	}
	#itemDescriptionContainer .descriptionTitle{
		font-weight: bold;
		margin-bottom: 0.5em;
	}
	#itemDescriptionContainer .itemDescription{
		margin-bottom: 1em;
	}

	#captchas{
		width: 7em !important;
	}